body {
  padding-top: 54px;
}

.bg-dark {
    background-color: #FFFFFF !important;
}

nav .container{
  padding: 15px;
}

div.container-fluid {
  margin-right: auto;
  margin-left: 20%;
  padding-left: 20%;
  padding-right: 15px;
}

.navbar{
  background-color: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
  min-height: 79.5px;
}

.navbar img{
  display: block;
}

input[type=text] {
  width: 61%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  background-color: white;
}

input.i1:checked ~ label.l1:before {
  color: #b9cb41;
}

.submit-lente {
  position:absolute;
  top:0; right:0;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
}

.submit-line {
  position: relative;
  width: 700px;
}

.submit-line input {
  width: 100%;
}

.submit-line i{
  margin-top: 7px;
}

main{
  width: 100%;
  height: 100%;
  background-color: #f0efee;
  top: 0;
}

main .portfolio-item {
  margin-bottom: 30px;
  padding-top: 50px;
}

.info-top{
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  margin-top: 30px;
}

.info-top img{
  position: relative;
  float: left;
  margin-right: 15px;
}

.info-top h3{
  font-size: 1.4rem !important;
}

.card-label{
  color: #878282;
}

.info-top p{
  color: #969696;
  margin-bottom: 4px;
}

.card-top{
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: #e77161;
}

.card-top p:first-child{
  color: #f0efee;
  margin-left: 20px;
  font-size: 1.1rem;
}

.card-body img{
  float: left;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
}

.card-body h4{
  color: #e77161;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 2px !important;
}

.card-body p{
  color: #969696;
  font-size: 0.8rem;
}

.row{
  overflow: hidden;
}

hr{
  border-color:#969696;
  box-sizing: border-box;
  width:100%;  
}

@media screen and (max-width: 960px){
  .navbar img{
    display: none !important;
  }

  .submit-line input[type=text] {
    width: 100%;
  }
  
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}